/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* header {
    background-color: #2A2A2A;
} */


/* main {
    background-color: black;
    height: 500px;
} */


/* article {
    background-color: #2A2A2A;
    height: 200px;
} */


/* footer {
    background-color: black;
    height: 300px;
} */


/* ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

li {
    padding: 5px;
}