@tailwind base;
@tailwind components;
@tailwind utilities;
footer {
    background-color: black;
    height: 300px;
}

li {
    padding: 5px;
}

.hamburger__open {
    transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s !important
}

main {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

header {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

footer {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}